<!doctype html>
<html lang="zxx">

<%- include header.ejs %>
<section id="Blog">
<div class="vertical-space-100"> </div>
<div class="vertical-space-101"> </div>
<div class="container">
<h3>Our Latest Blog Posts</h3>
<div class="vertical-space-20"></div>
<p>Lorem ipsum tempus amet conubia adipiscing fermentum viverra gravida sodales luctus nulla</p>
<div class="vertical-space-50"></div>
<div class="row">
<div class="col-lg-4 col-md-6">
<img src="imags/blog1.jpg" class="blog-image" alt="">
<div class="blog-box">
<a href="#" class="font-color-black font-size">Page builder included</a>
<p class="float-left font-color-black width"><a href="#" class="font-color-black font-size-14">27 Mar, 2018</a> | <a href="#" class="font-color-black font-size-14">11 min read</a></p>
<p class="space10">Fusce aliqm nonlips dictmst dapib alorem accman pellenl tesque in temor aliqm npion dmst dapib honcs fusce aliqm non dictmst . </p>
<div class="vertical-space-20"></div>
<a href="#" class="font-color-orange font-bold">Read more<i class="fa fa-long-arrow-right"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6">
<img src="imags/blog2.jpg" class="blog-image" alt="">
<div class="blog-box">
<a href="#" class="font-color-black font-size">Retina ready graphics</a>
<p class="float-left font-color-black width"><a href="#" class="font-color-black font-size-14">27 Mar, 2018</a> | <a href="#" class="font-color-black font-size-14">11 min read</a></p>
<p class="space10">Fusce aliqm nonlips dictmst dapib alorem accman pellenl tesque in temor aliqm npion dmst dapib honcs fusce aliqm non dictmst . </p>
<div class="vertical-space-20"></div>
<a href="#" class="font-color-orange font-bold">Read more<i class="fa fa-long-arrow-right"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6">
<img src="imags/blog3.jpg" class="blog-image" alt="">
<div class="blog-box">
<a href="#" class="font-color-black font-size">Simple blog post</a>
<p class="float-left font-color-black width"><a href="#" class="font-color-black font-size-14">27 Mar, 2018</a> | <a href="#" class="font-color-black font-size-14">11 min read</a></p>
<p class="space10">Fusce aliqm nonlips dictmst dapib alorem accman pellenl tesque in temor aliqm npion dmst dapib honcs fusce aliqm non dictmst . </p>
<div class="vertical-space-20"></div>
<a href="#" class="font-color-orange font-bold">Read more<i class="fa fa-long-arrow-right"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6">
<img src="imags/blog4.jpg" class="blog-image" alt="">
<div class="blog-box">
<a href="#" class="font-color-black font-size">Cookie cotton candy</a>
<p class="float-left font-color-black width"><a href="#" class="font-color-black font-size-14">27 Mar, 2018</a> | <a href="#" class="font-color-black font-size-14">11 min read</a></p>
<p class="space10">Fusce aliqm nonlips dictmst dapib alorem accman pellenl tesque in temor aliqm npion dmst dapib honcs fusce aliqm non dictmst . </p>
<div class="vertical-space-20"></div>
<a href="#" class="font-color-orange font-bold">Read more<i class="fa fa-long-arrow-right"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6">
<img src="imags/blog5.jpg" class="blog-image" alt="">
<div class="blog-box">
<a href="#" class="font-color-black font-size">Award-winning design</a>
<p class="float-left font-color-black width"><a href="#" class="font-color-black font-size-14">27 Mar, 2018</a> | <a href="#" class="font-color-black font-size-14">11 min read</a></p>
<p class="space10">Fusce aliqm nonlips dictmst dapib alorem accman pellenl tesque in temor aliqm npion dmst dapib honcs fusce aliqm non dictmst . </p>
<div class="vertical-space-20"></div>
<a href="#" class="font-color-orange font-bold">Read more<i class="fa fa-long-arrow-right"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6">
<img src="imags/blog6.jpg" class="blog-image" alt="">
<div class="blog-box">
<a href="#" class="font-color-black font-size">Mobile friendly</a>
<p class="float-left font-color-black width"><a href="#" class="font-color-black font-size-14">27 Mar, 2018</a> | <a href="#" class="font-color-black font-size-14">11 min read</a></p>
<p class="space10">Fusce aliqm nonlips dictmst dapib alorem accman pellenl tesque in temor aliqm npion dmst dapib honcs fusce aliqm non dictmst . </p>
<div class="vertical-space-20"></div>
<a href="#" class="font-color-orange font-bold">Read more<i class="fa fa-long-arrow-right"></i></a>
</div>
</div>
<div class="vertical-space-25"></div>
<div class="job-list">
<ul class="pagination justify-content-end margin-auto">
<li class="page-item"><a class="page-link pdding-none" href="javascript:void(0);"><i class=" material-icons keyboard_arrow_left_right">keyboard_arrow_left</i></a></li>
<li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
<li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
<li class="page-item">
<a class="page-link pdding-none" href="javascript:void(0);"> <i class=" material-icons keyboard_arrow_left_right">keyboard_arrow_right</i></a>
</li>
</ul>
</div>
</div>
</div>
<div class="vertical-space-60"> </div>
</section>


<footer id="footer" class="background-color-white">
<div class="container">
<div class="vertical-space-100"></div>
<div class="row">
<div class="col-lg-4 col-md-6 vertical-space-2">
<h5>About Us</h5>
<p class="paregraf"> Are you a student trying to find an internship or get started with a part-time job meanwhile you study? We are providing you the perfect platform to get job listings from companies looking to hire young professionals like <u> you</u>.</p>
<a href="#">
<i class="fa fa-facebook social-icon"></i></a>
<a href="#">
<i class="fa fa-twitter social-icon"></i></a>
<a href="#">
<i class="fa fa-map-marker social-icon"></i></a>
</div>
<div class="col-lg-2 col-md-6 vertical-space-2">
<h5>See More</h5>
<div class="text">
<a href="#">About Us</a>
<a href="#">Contact</a>
<a href="#">Terms</a>
<a href="#">Privacy</a>
</div>
</div>
<div class="col-lg-4 col-md-6 vertical-space-2">
<h5>Follow Us</h5>
<p>Get latest blogs and newsletter</p>
<div class="vertical-space-30"></div>
<form>
<input type="email" class="email " placeholder="Email Address " required="">
<span class="fa fa-envelope email-icone "></span>
<input type="submit" class="Subscribe" value="Subscribe" style="background-color:#0096AF;">
</form>
</div>
</div>
<div class="vertical-space-60"></div>
</div>
<div class="container-fluid background-color-orange main-footer" style="background-color:#0096AF; ">
<div class="container text-center">
<div class="vertical-space-30"></div>
<p><a target="_blank" style="color: white; font-size: 15px;">2020 Copyright &copy; studentapp_team </a></p>
</div>
</div>
</footer>


<!-- <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>
<script src="js/jquery-ui.min.js"></script>

<script src="js/custom.js">
</script> -->

<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>
<script src="js/jquery-ui.min.js"></script>

<script src="js/custom.js"></script>
<script>
        $(".search-icone").click(function(){
     // $(".menu").animate({height: "100vh"});
});

    </script>
</body>


</html>