<!DOCTYPE html>
<html lang="en">



<footer id="footer" class="background-color-white">
    <div class="container">
    <div class="vertical-space-100"></div>
    <div class="row">
    <div class="col-lg-4 col-md-6 vertical-space-2">
    <h5>About Us</h5>
    <p class="paregraf"> Are you a student trying to find an internship or get started with a part-time job meanwhile you study? We are providing you the perfect platform to get job listings from companies looking to hire young professionals like <u> you</u>.</p>
    <a href="#">
    <i class="fa fa-facebook social-icon"></i></a>
    <a href="#">
    <i class="fa fa-twitter social-icon"></i></a>
    <a href="#">
    <i class="fa fa-map-marker social-icon"></i></a>
    </div>
    <div class="col-lg-2 col-md-6 vertical-space-2">
    <h5>See More</h5>
    <div class="text">
    <a href="#">About Us</a>
    <a href="#">Register</a>
    <a href="#">Terms</a>
    <a href="#">Privacy</a>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 vertical-space-2">
    <h5>Follow Us</h5>
    <p>Get latest blogs and newsletter</p>
    <div class="vertical-space-30"></div>
    <form>
    <input type="email" class="email " placeholder="Email Address " required="">
    <span class="fa fa-envelope email-icone "></span>
    <input type="submit" class="Subscribe" value="Subscribe" style="background-color:#0096AF;">
    </form>
    </div>
    </div>
    <div class="vertical-space-60"></div>
    </div>
    <div class="container-fluid background-color-orange main-footer" style="background-color:#0096AF; ">
    <div class="container text-center">
    <div class="vertical-space-30"></div>
    <p><a target="_blank" style="color: white; font-size: 15px;">2020 Copyright &copy; studentapp_team </a></p>
    </div>
    </div>
    </footer>

    </html>
    