<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="author" content="studentapp_team">
<meta name="description" content="Find job for students">
<meta name="keywords" content="HTML,CSS,XML,JavaScript">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Padhai2Paisa</title>
<link rel = "icon" href = "images/logoRS2.png" type = "image/x-icon"> 

<script src="cdn-cgi/apps/head/4n2NXumNjtg5LPp6VXLlDicTUfA.js"></script><link rel="apple-touch-icon" href="images/apple-touch-icon.html">
<link rel="shortcut icon" type="image/ico" href="images/favicon.html" />

<link rel="stylesheet" href="css/bootstrap.min.css">

<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<link href="css/matrialize.css" rel="stylesheet">

<link href="owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<link rel="stylesheet" href="css/style.css">
</head>
<body>

<header class="header">

<div class="top_bar background-color-orange" style="background-color: #007C94;">
<div class="top_bar_container">
<div class="container">
<div class="row">
<div class="col">
<div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
<ul class="top_bar_contact_list">
<li>
<i class="fa fa-phone coll" aria-hidden="true"></i>
<div class="contact-no">0123 4567 8912</div>
</li>
<li>
<i class="fa fa-envelope coll" aria-hidden="true"></i>
<div class="email">studentapp@gmail.com</div> 
</li>
</ul>
<div class=" ml-auto ">

<div class="hamburger menu_mm  search_button transparent search display"><i class="large material-icons font-color-white  search-icone  menu_mm ">menu</i></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="header_container background-color-orange-light" style="background-color: #0096AF;"> 
<div class="container">
<div class="row">
<div class="col">
<div class="header_content d-flex flex-row align-items-center justify-content-start">
<div class="logo_container">
<a href="index-2.html">
<img src="images/logoRS2.png" class="logo-text" alt="graduate cap with rupees on top" style="height: 65px; width: 70px;">
</a>
</div>
<nav class="main_nav_contaner ml-auto">
<ul class="main_nav">
<li>
<a href="/">Home</a>
</li>
<li class="dropdown ">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">Job
<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="/jobs/JobsList">Job List</a></li>
<li><a href="job_detail.html">Job Detail</a></li>
</ul>
</li>
<li><a href="/jobs/blog"> Blog</a></li>
<li><a href="about_us.html">About</a></li>
<li><a href="/jobs/register">Register</a></li>
</ul>
<div class="Post-Jobs">      
  <!-- post jobs class linked cha css kk ma ma tei vayera tei vayera tension yo  -->
<a href="/jobs/postjobs" class="">
Post Jobs
</a>
</div>

</header>

</body>
</html>
