<!DOCTYPE html>
<html>
<body>

<h2>Job Post Form</h2>

<form action="">
  <label for="jobtitle">Job Title:</label><br>
  <input type="text" id="jobtitle" name="jobtitle" value=""><br>
  
  <label for="vacancyno">No of vacancy</label><br>
  <input type="text" id="vacancyno" name="vacancyno" value=""><br>
  
  <label for="jobdes">Job Description</label><br>
  <input type="text" id="jobdes" name="jobdes" value=""><br>
  
  <label for="salary">Salary Offered</label><br>
  <input type="text" id="salary" name="salary" value=""><br>
  
  <label for="deadline">Apply Before</label><br>
  <input type="text" id="deadlinw" name="deadline" value=""><br>
  
  <label for="location">Location</label><br>
  <input type="text" id="location " name="location " value=""><br>
  
  <label for="jobcat">Job Category </label><br>
  <input type="text" id="jobcat" name="jobcat" value=""><br>
  
  <input type="submit" value="Post">
</form> 
</body>
</html>